import { expect, test } from '@playwright/test';

test('index page has expected h1', async ({ page }) => {
	await page.goto('/{{name}}');
	expect(await page.textContent('h1')).toBe('{{name}}のCRUD用ページ');
});
